<html>
<head>
    <title>Qui est-ce ?</title>
</head>
<body>
    <div>
        Votre pseudo: <input type="text" data-bind="value: name" />
    </div>
    <br />
    Salut <span data-bind="text: name"></span>
    <ul data-bind="foreach: players">
        <li><span data-bind="text: name"></span> : <span data-bind="text: points"></span></li>
    </ul>

    <ul data-bind="foreach: messages">
        <li><strong data-bind="text: player.name"></strong> <span data-bind="text: text"></span> </li>
    </ul>

    <div data-bind="with: question">
        <img data-bind="attr: {src: image}" />
    </div>

    <input type="text" data-bind="value: message" />
    <button data-bind="click: send">Envoyer</button>

    <script src="~/Scripts/require.js" data-main="Scripts/main"></script>



</body>
</html>
